/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Geologica:wght@100..900&display=swap');

/* Definição de variáveis de cores */
:root {
  --primary-color: #ffcc00; /* Cor primária */
  --secondary-color: #3c3c3c; /* Cor secundária */
  --tertiary-color: #2c2c2c; /* Cor terciária */
}

/* Estilização do corpo da página */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
  color: #f4f4f4;
}

/* Espaçamento entre seções */
section {
  margin-bottom: 2rem;
}

/* Comportamento suave ao rolar a página */
html {
  scroll-behavior: smooth;
}

/* Estilização do cabeçalho */
header {
  background: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Remoção do estilo de lista */
li {
  list-style: none;
}

/* Estilização dos links */
a {
  color: inherit;
}

/* Estilização do título no cabeçalho */
header h1 {
  font-size: 94px;
  margin: 0;
  text-align: center;
}

/* Estilização dos links da navbar */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  padding: 0.5rem 1rem;
}

/* Efeito ao passar o mouse nos links da navbar */
.navbar-custom .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/* Estilização do menu de navegação */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* Estilização dos itens do menu de navegação */
nav ul li {
  font-size: 30px;
  margin: 0 1rem;
}

/* Estilização dos links do menu de navegação */
nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Efeito ao passar o mouse nos itens do menu de navegação */
nav ul li:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1) translateY(-5px);
}

/* Efeito ao passar o mouse nos links do menu de navegação */
nav ul li a:hover {
  color: var(--primary-color);
}

/* Estilização dos títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Geologica', sans-serif;
  font-weight: bold;
}

/* Estilização do título h2 */
h2 {
  font-size: 5rem;
  text-align: center;
}

/* Estilização do título h3 */
h3 {
  font-size: 2rem;
  text-align: center;
}

/* Estilização de parágrafos e listas */
li,
p {
  font-family: 'Finlandica', sans-serif;
}

/* Estilização do conteúdo principal */
main {
  padding: 2rem;
}

/* Repetição da estilização de seções */
section {
  margin-bottom: 2rem;
}

/* Estilização da seção "Sobre" */
.sobre {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 8px;
}

/* Estilização de parágrafos na seção "Sobre" */
.sobre p {
  font-size: 20px;
}

/* Estilização do título h2 na seção "Sobre" */
.sobre h2 {
  margin: 0;
}

/* Layout da seção "Sobre" */
.sobre-content {
  display: flex;
}

/* Estilização da imagem na seção "Sobre" */
.sobre-img {
  border-radius: 50%;
}

/* Estilização do texto na seção "Sobre" */
.sobre-texto {
  width: 100%;
  text-align: right;
}

/* Estilização da seção "Habilidades" */
.habilidades {
  margin: 0px;
}

/* Estilização dos itens de habilidade */
.habilidade-item {
  background-color: var(--secondary-color);
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Estilização das imagens nos itens de habilidade */
.habilidade-item img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}

/* Estilização da seção "Projetos" */
.projetos {
  margin: 0px;
  background-color: var(--tertiary-color);
  color: #f4f4f4;
  padding: 5rem 0;
  text-align: center;
}

/* Estilização de parágrafos na seção "Projetos" */
.projetos p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/* Estilização dos itens de projeto */
.projeto-item {
  margin: 0px;
  background: var(--secondary-color);
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
}

/* Estilização das imagens dos itens de projeto */
.projeto-imagem {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/* Estilização do título h3 dos itens de projeto */
.projeto-item h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Estilização de parágrafos nos itens de projeto */
.projeto-item p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

/* Estilização dos links dos itens de projeto */
.projeto-item a {
  display: inline-block;
  background-color: var(--primary-color);
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

/* Efeito ao passar o mouse nos links dos itens de projeto */
.projeto-item a:hover {
  background-color: #ffc400;
  transform: scale(1.1) translate(-5px);
}

/* Estilização do rodapé */
footer {
  background: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Estilização das colunas do rodapé */
.footer-column {
  text-align: center;
}

/* Estilização de parágrafos no rodapé */
.footer-column p {
  margin: 0;
  font-size: 1.6rem;
}

/* Estilização de itens de lista no rodapé */
.footer-column li {
  font-size: 1.5rem;
}

/* Estilização do título h2 na seção "Contato" */
.contato h2 {
  margin: 0px 0px 100px 0px;
}

/* Estilização das imagens no rodapé */
.footer-column img {
  width: 30px;
  height: auto;
  margin-bottom: 0.5rem;
}

/* Estilização de itens de lista nas colunas do rodapé */
.footer-column ul li {
  display: flex;
  align-items: center;
}

/* Estilização das imagens nos itens de lista do rodapé */
.footer-column ul li img {
  margin-right: 1rem;
}

/* Estilização dos links nas colunas do rodapé */
.footer-column a {
  display: flex;
  align-items: center;
  color: #fff;
}

/* Estilização das imagens nos links do rodapé */
.footer-column a img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

footer a {
  display: inline-block;
}
/* Estilos aplicados ao passar o mouse (hover) */
footer a:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1) translate(-5px);
}